@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes Sway {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

#spotlight {
  position: absolute;
  width: 200vw;
  height: 200vh;
  top: -50vh;
  left: -50vw;
  pointer-events: none;
  background: radial-gradient(
    circle at 50% 30%,
    #00000000 100px,
    #000000ee 375px
  );
  animation: Sway 4s ease-in-out infinite;
}
